@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Laila:wght@300;400;500;600;700&display=swap');


@keyframes float {
  0% {
    transform: translateY(1px);
  }
  50% {
    transform: translateY(-8px);
  }
  100% {
    transform: translateY(1px);
  }
}

.float-animation {
  animation: float 4s ease-in-out infinite;
}
.bg-blur {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 500px;
    background: radial-gradient(circle, #d8c4ff 0%, #f2ecff 100%);
    filter: blur(120px);
    z-index: -1;
    opacity: 0.7;
    border-radius: 50%;
}
